*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    background-color: #ee3166 !important;
}

.container-cadastro-usuario{
	width: 100%;
}

.content-cadastro-usuario{
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: row-reverse;
	gap: 20px;
}

.content-form{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-form form{
    padding: 1rem;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.content-form form h1{
    font-size: 40px;
    margin-bottom: 1rem;
}

.content-form form input{
    padding: 0.5rem;
    font-size: 16px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #000 !important;
	outline: none;
}

.content-form form button{
    font-size: 18px;
    padding: 0.5rem 1rem;
    background-color: #ff69b4;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 8px;
}

.content-form form button:hover{
    transition: all ease 0.3s;
    background-color: #f72f93;
}

.content-inputs{
	display: flex;
	gap: 20px;
}

.image-background{
	width: 100%;
    height: 100vh;
	background-image: url('./../assets/background-cadastro.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(70%);
}

.msg-login{
	font-size: 18px;
    margin: 1rem 0;
}

.msg-login a{
    text-decoration: none;
    font-weight: bold;
    color: #ff69b4;
}

#agreement-label span{
	color: #ee3166;
	cursor: pointer;
	font-weight: bold;
}

.modal-body h1{
	text-align: center !important;
	font-size: 30px;
}

@media(max-width: 768px){
	.content-cadastro-usuario{
		flex-direction: column;
	}

	.content-form{
		margin: 1rem;
	}

	.image-background{
		width: 100%;
        height: 75vh;
	}
}

@media(max-width: 580px){

	form h1{
		font-size: 25px !important;
	}

	.content-inputs{
		width: 100%;
		flex-direction: column;
	}

	.content-form form input{
		width: 100%;
	}

	.msg-login{
		font-size: 16px;
		text-align: center;
	}
}