@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D8557B;
}

header .content-logo img{
    width: 80px;
}

header nav{
    display: flex;
    gap: 40px;
}

header div #btn-open-nav-mobile{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #C22852;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #f1f1f1;
    transition: all ease 0.3s;
}

header nav ul li a:hover{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 2.9rem;
}

header div:nth-child(3){
    font-size: 20px;
}

header .content-login{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .content-login a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    background-color: #C22852;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all ease 0.3s;
}

header div a:hover{
    background-color: #bb1541;
}


.card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card_img{
    border-radius: 8px;
    width: 650px;
    height: 300px;
    margin: 1rem;
}
.card_titulo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.card_descricao{
    font-size: 18px;
    margin-bottom: 0.7rem;
    text-align: center;
}
.card_form{
    width: 70vw;
    text-align: center;
    border: 1px solid #bb1541;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 2rem;
}

.card_form div select{
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    outline: none;
    font-size: 18px;
}

.card_form div textarea{
    padding: 0.5rem 0.5rem;
    outline: none;
    font-size: 14px;
}

.card_form_titulo{
    font-size: 2rem;
}
.card_form_div{
    margin: 8px;
    font-size: 0.8rem;
}

#observacao{
    width: 20em;
}
.card_form_button{
    font-size: 18px;
    color: #f1f1f1;
    font-weight: bold;
    background-color: #C22852;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.card_form_button:hover{
    background-color: #990c31;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D8557B;
    padding: 2rem;
}

footer .content-map{
    width: 500px;
}

footer .content-map iframe{
    width: 100%;
    height: 300px;
}

footer .content-logo-footer img{
    width: 200px;
}

@media(max-width: 850px){
    header{
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 768px){

    .card_img{
        width: 425px;
        height: 200px;
    }

    .card_titulo{
        font-size: 1.5rem
    }

    .card_descricao{
        font-size: 15px;
        padding: 0 1rem;
    }

    footer{
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    footer .content-map{
        width: 425px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}

@media screen and (max-width: 425px){
    header{
        height: 100px;
    }

    header div #btn-open-nav-mobile{
        display: block;
    }
    
    header nav ul li a{
        font-size: 13px;
    }

    header div a:nth-child(1){
        margin-left: 1rem;
    }

    .card_img{
        width: 320px;
        height: 150px;
    }

    .card_titulo{
        font-size: 1.3rem
    }

    .card_form{
        width: 90%;
        padding: 1.5rem;
    }

    .card_form_titulo{
        font-size: 1.5rem;
    }

    .card_form div textarea{
        width: 220px !important;
        height: 50px;
    }

    footer .content-map{
        width: 310px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}