@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card_img{
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;
    filter: brightness(70%);
}
.card_titulo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.card_descricao{
    font-size: 18px;
    margin-bottom: 0.7rem;
    text-align: center;
}
.card_form{
    width: 70vw;
    text-align: center;
    border: 4px solid #e74c75;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 6px 0px #000000bf;
    -moz-box-shadow: 0px 0px 6px 0px #000000bf;
    box-shadow: 0px 0px 6px 0px #000000bf;
}

.card_form div select{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
}

.card_form div textarea{
    padding: 0.5rem 0.5rem;
    outline: none;
    font-size: 14px;
}

.card_form_titulo{
    color: #C22852;
}
.card_form_div{
    margin: 1.5rem 0;
    font-size: 0.8rem;
}

#content-cobertura{
    display: none;
}

#observacao{
    width: 20em;
}
.card_form_button{
    font-size: 18px;
    color: #f1f1f1;
    font-weight: bold;
    background-color: #C22852;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.card_form_button:hover{
    background-color: #990c31;
}

.content-inputs-type-radio{
    display: flex;
    justify-content: center;
    gap: 20px;
}

input[type="radio"]{
    display: none;
}

.content-inputs-type-radio{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content-inputs-type-radio label{
    border: 2px solid #D8557B;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.input-theme-cake{
    padding: 0.5rem 0.8rem;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #D8557B;
}

.type-labels{
    font-size: 20px;
}

input[type="radio"]:checked + label{
    transition: all ease 0.3s;
    background-color: #D8557B;
    color: #f1f1f1;
    font-weight: bold;
}

.content-values-cake{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.values-cake{
    border-radius: 5px;
    border: 1px solid #D8557B;
    padding: 0.5rem 0.8rem;
    font-size: 18px;
}

.values_cake_input{
    font-size: 25px;
    font-weight: bold;
    border: none;
    text-align: center;
    outline: none;
    margin: 1rem;
    cursor: default;
}

.values_cake_input:nth-child(2){
    display: none;
}

#viewfinder-value-shipping{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D8557B;
    padding: 2rem;
}

footer .content-map{
    width: 500px;
}

footer .content-map iframe{
    width: 100%;
    height: 300px;
}

footer .content-logo-footer img{
    width: 200px;
}

@media(max-width: 920px){
    .content-inputs-type-radio{
        flex-direction: column;
        gap: 5px;
    }
}

@media(max-width: 850px){
    header{
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 768px){

    .card_img{
        width: 100%;
        height: 70vh;
        margin-top: 2rem;
    }

    .card_titulo{
        font-size: 1.5rem
    }

    .card_descricao{
        font-size: 15px;
        padding: 0 1rem;
    }

    footer{
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    footer .content-map{
        width: 425px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}

@media screen and (max-width: 425px){
    header{
        height: 100px;
    }

    header div #btn-open-nav-mobile{
        display: block;
    }
    
    header nav ul li a{
        font-size: 13px;
    }

    header div a:nth-child(1){
        margin-left: 1rem;
    }

    .card_img{
        width: 100%;
        height: 40vh;
        margin: 0;
    }

    .card_titulo{
        font-size: 1.3rem
    }

    .card_form{
        width: 90%;
        padding: 1.5rem;
    }

    .card_form_titulo{
        font-size: 1.5rem;
    }

    .input-theme-cake{
        font-size: 16px;
    }

    .card_form div textarea{
        width: 220px !important;
        height: 50px;
    }

    footer .content-map{
        width: 310px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}