*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.swiper-button-prev{
    color: #bb1541 !important;
}

.swiper-button-next{
    color: #bb1541 !important;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D8557B;
}

header .content-logo img{
    width: 80px;
}

header nav{
    display: flex;
    gap: 40px;
}

header div #btn-open-nav-mobile{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #C22852;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #f1f1f1;
    transition: all ease 0.3s;
}

header nav ul li a:hover{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 2.9rem;
}

header div:nth-child(3){
    font-size: 20px;
}

header .content-login{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .content-login a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    background-color: #C22852;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all ease 0.3s;
}

header div a:hover{
    background-color: #bb1541;
}

main .container-slider-types-cakes{
    width: 100%;

}

main .container-slider-types-cakes img{
    width: 100%;
    height: 70vh;
    filter: brightness(50%);
}

main .container-slider-types-cakes .content-banner{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}

main .container-slider-types-cakes .title-banner{
    font-size: 50px;
    color: #f1f1f1;
}

main .container-slider-types-cakes .btn-banner{
    font-size: 20px;
    background-color: #bb1541;
    color: #f1f1f1;
    margin-top: 2rem;
    border-radius: 6px;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

main .container-slider-types-cakes .btn-banner:hover{
    background-color: #8d0328;
}

main .container-products h1{
    text-align: center;
    font-size: 35px;
    margin-top: 2rem;
    color: #C22852;
}

main .container-products .content-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 1.5rem;
    text-align: center;
}

main .container-products .content-products .card-product{
    width: 300px;
    border-radius: 2px;
    background-color: #F2E7DA;
    padding: 1.5rem 1rem;
    -webkit-box-shadow: 0px 0px 6px 0px #000000bf;
    -moz-box-shadow: 0px 0px 6px 0px #000000bf;
    box-shadow: 0px 0px 6px 0px #000000bf;
}

main .container-products .content-products .card-product img{
    width: 100%;
    height: 180px;
}

main .container-products .content-products .card-product h3{
    font-size: 20px;
    margin: 2rem 0;
    color: #c24a6a;
}

main .container-products .content-products .card-product button{
    font-size: 16px;
    background-color: #bb1541;
    color: #f1f1f1;
    border-radius: 6px;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

main .container-products .content-products .card-product button:hover{
    background-color: #8d0328;
}

main .container-products .content-products .card-product a{
    font-size: 16px;
    background-color: #bb1541;
    color: #f1f1f1;
    border-radius: 6px;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
}

main .container-products .content-products .card-product a:hover{
    background-color: #8d0328;
}

main .container-products .content-texts-feedbacks{
    height: 300px;
    margin: 2rem 3rem;
    padding: 0.7rem;
    overflow-y: scroll;
    border: 1px solid #4b4b4b91
}

main .container-products .content-texts-feedbacks > div{
    margin: 1rem 0;
}

main .container-products .content-texts-feedbacks > div span{
    display: block;
    margin: 0.5rem 0;
}

main .container-products .content-texts-feedbacks > div span:nth-child(1){
    width: 100px;
    background-color: #ffff00;
    padding: 0.8rem;
    font-weight: bold;
}

main .container-products .content-texts-feedbacks > div span:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}

main .container-products .content-texts-feedbacks > div p{
    font-weight: 300;
    font-style: italic;
    color: #6a6a6a;
    line-height: 30px;
}


main .container-products .content-feedback{
    margin: 2rem 0;
    margin: 0 3rem;
}


main .container-products .content-feedback form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .container-products .content-feedback label{
    font-size: 20px;
}

main .container-products .content-feedback textarea{
    padding: 0.8rem;
    font-size: 17px;
}

main .container-products .content-feedback form > div select{
    padding: 0.5rem;
}

main .container-products .content-feedback form > .content-button-feedback{
    text-align: center;
}

main .container-products .content-feedback form > .content-button-feedback button{
    font-size: 16px;
    background-color: #bb1541;
    color: #f1f1f1;
    border-radius: 6px;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

main .container-products .content-feedback form > .content-button-feedback button:hover{
    background-color: #8d0328;
}

main .container-about-us{
    margin: 4rem 0;
}

main .container-about-us > h1{
    text-align: center;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #C22852;
}

main .container-about-us .content-about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 0 2rem;
    border: 4px solid #0000;
    text-align: center;
}

main .container-about-us .content-about-us .content-description-about{
    width: 750px;
}

main .container-about-us .content-about-us .content-description-about span{
    width: 100%;
    display: block;
    text-align: center;
}

main .container-about-us .content-about-us .content-description-about span:nth-child(1){
    font-size: 25px;
    margin: 0.5rem;
}

main .container-about-us .content-about-us .content-description-about span:nth-child(2){
    font-size: 16px;
    margin: 0.5rem;
}


main .container-about-us .content-about-us .content-img-integrant img{
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 2px solid #000;
    transform: scale(0.9);
    cursor: pointer;
}

main .container-about-us .content-about-us .content-img-integrant img:hover{
    transform: scale(1);
    border: 2px solid #C22852;
    transition: all ease 0.3s;
}


main .container-about-us .content-button-about{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .container-about-us .content-button-about button{
    padding: 0.8rem 1rem;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: #bb1541;
    color: #f1f1f1;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D8557B;
    padding: 2rem;
}

footer .content-map{
    width: 500px;
}

footer .content-map iframe{
    width: 100%;
    height: 300px;
}

footer .content-logo-footer img{
    width: 200px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 555;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
  }

  .modal-content ul {
    list-style: none;
    font-size: 16px;
  }

  .modal-content ul li{
    margin: 0.5rem 0;
  }

  .modal-content ul li a {
    color: #000;
    text-decoration: none;
  }

  .modal-content .content-login-mobile a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    background-color: #C22852;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all ease 0.3s;
  }

  .modal-content .content-login-mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .modal-content .content-login-mobile span{
    font-size: 20px;
    font-weight: bold;
  }

  .modal-content .content-btn-close-modal{
    text-align: right;
  }

  .modal-content .content-btn-close-modal button{
    font-size: 15px;
    font-weight: bold;
    background: none;
    border: none;
  }


@media(max-width: 920px){
    header{
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 768px){
    main .container-about-us .content-about-us{
        flex-direction: column-reverse;
        text-align: center;
        height: 350px;
    }

    main .container-about-us .content-about-us .content-description-about{
        width: 100%;
    }

    main .container-about-us .content-about-us .content-description-about p{
        font-size: 25px;
    }

    main .container-about-us .content-button-about{
        margin-top: 3rem;
    }

    footer{
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    footer .content-map{
        width: 425px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}

@media(max-width: 425px){
    header{
        height: 100px;
    }
    
    header div #btn-open-nav-mobile{
        display: block;
    }

    header nav{
        display: none;
    }
    
    header nav ul li a{
        font-size: 13px;
    }

    header div a:nth-child(1){
        margin-left: 1rem;
    }

    header .content-login{
        display: none !important;
    }

    main .container-slider-types-cakes img{
        width: 100%;
        height: 50vh;
        filter: brightness(50%);
    }

    main .container-slider-types-cakes .title-banner{
        font-size: 35px;
        color: #f1f1f1;
    }
    
    main .container-slider-types-cakes .btn-banner{
        font-size: 15px;
    }

    main .container-products > h1{
        font-size: 30px;
    }

    main .container-about-us > h1{
        font-size: 30px !important;
    }
    
    main .container-about-us .content-about-us .content-description-about span:nth-child(1){
        font-size: 20px;
        margin: 0.5rem;
    }
    
    main .container-about-us .content-about-us .content-description-about span:nth-child(2){
        font-size: 14px;
        margin: 0.5rem;
    }

    main .container-about-us .content-about-us .content-img-integrant img{
        width: 300px;
    }

    main .container-about-us > h1{
    text-align: center;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    footer .content-map{
        width: 310px;
    }
    
    footer .content-map iframe{
        height: 250px;
    } 
}